@tailwind base;
@tailwind components;
@tailwind utilities;

.Blured {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 85.42%
  );
  @apply absolute  h-20 bottom-0 left-0 right-0;
}

.category-header {
  @apply capitalize flex justify-between flex-col text-exs w-full  px-1 py-2 items-center border-black bg-almostWhite xs:flex-row sm:text-lg  sm:px-2 md:py-3  lg:text-2xl relative;
}

.margin-right-zero {
  margin-right: 0;
}

.rotated {
  transform: rotate(180deg);
}

.map-dimentions {
  width: 80vw;
  height: 80vw;
  max-width: 750px;
  max-height: 450px;
  @apply m-9;
}
