@tailwind base;
@tailwind components;
@tailwind utilities;

.Blured {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 85.42%
  );
  @apply absolute  h-10 bottom-0 left-0 right-0;
}

.category-header {
  @apply flex justify-between flex-col text-exs  px-1 py-2 items-center border-black bg-almostWhite xs:flex-row sm:text-lg  sm:px-2 sm:py-4  lg:text-2xl relative;
}

.margin-right-zero {
  margin-right: 0;
}

.rotated {
  transform: rotate(180deg);
}
